.App {
  box-sizing: content-box;
}

.ExchangeRates {
  text-align: center;
}
.chart {
  margin: 1rem;
}

.transactions {
}
.transaction {
  border-bottom: 2px solid white;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.transaction > p {
  padding: 5px;
  flex-basis: 20%;
}
.transaction > p:first-child {
  flex-grow: 3;
}

/* #expense {
  margin-left: auto;
} */

.transaction:hover {
  margin-left: 1em;
}

.top {
  display: flex;
  background-color: #09121f;
  color: white;
}
.top > * {
  flex-basis: 15%;
}
.greeting {
  flex-basis: 15%;
  margin-left: 1em;
}
.toggle {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.payment {
  margin: 1rem;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bankAccount {
}
.balance {
  display: flex;
  align-items: center;
}
.largerText {
  font-size: 20px;
}

.CreditCards {
  text-align: center;
}
.cardNumbers {
  display: flex;
  justify-content: space-around;
}
.cardNumbers > p {
  display: inline;
}
.main {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
}
.body {
  width: 80%;
  margin: 1em auto;
  background-color: #520002;
  background: linear-gradient(
    90deg,
    rgba(82, 0, 2, 1) 11%,
    rgba(31, 22, 9, 1) 97%
  );
  display: flex;
  justify-content: space-between;
  color: white;
}
.body:hover {
}
.sidebar {
  width: 25%;
  display: inline-flex;
  justify-content: center;
  margin: 0;
}
/* On smaller screens, make .bankAccount and CreditCards have flex-grow of 2, so that they're larger. on this one, keep them

https://cssgradient.io/
https://www.canva.com/colors/color-wheel/
https://99designs.com/blog/web-digital/dark-mode/


*/
